<div class="container">
    <footer class="footer_middle flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4  align-items-center footer_middle">
            <img src="/uploads/fb-img-1634162479545-2c7213c4-5db7-48e2-8bf0-45d1bd52bf37.jpg" alt="" />

            <span class="copyright">© {{ 'now'|date('Y') }}</span>
        </div>
    </footer>
</div>