<div class="box">
  <h1>Element de la nature</h1>
  <div class="cardbox">

    <div class="undercardbox">
      <div class="card">

        <div class="cardimg"><img src="/uploads/ricinus-communis-plante-medicinale-2-2-720x380-b7c7dcc3-61a3-4c85-bd49-ea8f67c30c3a.jpg" alt="" /></div>
        <p>
            Nature carousel
        </p>
      </div>
      <div class="card">

        <div class="cardimg"><img src="/uploads/2219411-29e35204-693c-4f23-805b-522dbbcac4fe.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/arbre-b65bd3c6-7cfb-4b4c-adc2-e0f24bc5f520.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/cover-r4x3w1000-5e21d23db8727-049-f0094964-ccee83f5-80aa-4e5a-9ff1-a5da000719e2.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/index-2cc90d92-c3da-47b2-8995-5bb8da5c062b.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/pexels-kaique-rocha-775201-89b1fad8-c88b-4d71-ab2b-37cd73445587.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/cover-r4x3w1000-5e21d23db8727-049-f0094964-ccee83f5-80aa-4e5a-9ff1-a5da000719e2.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/arbre-b65bd3c6-7cfb-4b4c-adc2-e0f24bc5f520.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/cover-r4x3w1000-5e21d23db8727-049-f0094964-ccee83f5-80aa-4e5a-9ff1-a5da000719e2.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>

      <div class="card">

        <div class="cardimg"><img src="/uploads/arbre-b65bd3c6-7cfb-4b4c-adc2-e0f24bc5f520.jpg" alt="" /></div>
        <p>
          Im am New in web development and I want to learn something crazy.
        </p>
      </div>
    </div>

  </div>
</div>